:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #AFAFAF;
  background-color: #d3d3d3;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

html, body, .root  {
  margin: 0;
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
}
body div {
  box-sizing: border-box;
}

.glass{
  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  border: 1px solid rgb(255 255 255 / 16%);
  border-top: 1px solid #efefef96;
  border-bottom: 1px solid #dddddd14;
}